.cover {
  background-color: #e5e1e1;
  padding: 15px;
  border-radius: 10px;
  box-shadow: inset -5px -5px 7px rgba(0,0,0,0.2),
              inset 2px 2px 5px rgba(0,0,0,0.2);
}

.title {
  width: 100%;
  display: flex;
  background-color: #e5e1e1;;
}

.title_h2 {
  font-size: 30px;
  width: 100%;
  text-align: center;
  user-select: text;
  flex: 1;
  padding-left: 73px;
  line-height: 20px;
  color: #e5e1e1;
  text-shadow: 2px 2px 2px rgba(0,0,0,0.35);
}

.title_close_container {
  width: 73px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

.close_text {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  transition: all .5s;
  border-radius: 20px;
  font-size: 30px;
  pointer-events: all;
  color: #363838;
  text-shadow: 2px 2px 2px rgba(0,0,0,0.2);
}

.close_text:hover {
  color: red;
  text-shadow: -2px -2px 2px rgba(0,0,0,0.2)
}

.pack-wrapper {
  display: flex;
}

.input-wrapper {
  width: 450px;
  padding: 25px;
  border-radius: 8px;
  background: #e5e1e1;
  box-shadow: inset 5px 5px 10px #d3cfcf,
              inset -5px -5px 10px #f7f3f3;
}

.input-wrapper .input-data {
  position: relative;
  width: 100%;
  height: 25px;
}

.input-wrapper .input-data input {
  position: relative;
  width: 100%;
  height: 100%;
  border: none;
  font-size: 17px;
  border-bottom: 2px solid #c0c0c0;
  border-radius: 0%;
  box-shadow: none;
  bottom: 0px;
  padding: 0%;
  background: #e5e1e1;

  
}
.input-wrapper .input-data input:focus ~ label,
.input-wrapper .input-data input:valid ~ label {
  bottom: 45px;
  color: #2c6fdb;
}

.input-wrapper .input-data label {
  position: relative;
  bottom: 25px;
  left: 0px;
  color: #808080;
  pointer-events: none;
  transition: all 0.3s ease-in-out;
}

.input-wrapper .input-data .underline {
  position: absolute;
  bottom: 0px;
  height: 2px;
  width: 100%;
  background-color: #2c6fdb;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}

.input-wrapper .input-data input:focus ~ .underline,
.input-wrapper .input-data input:valid ~ .underline {
  transform: scaleX(1);
}

.confirm-button {
  position: relative;
  width: 150px;
  height: 75px;
  display: flex;
  background: #e5e1e1;
  border-radius: 8px;
  box-shadow:  5px 5px 10px #d3cfcf,
              -5px -5px 10px #f7f3f3;
  border: none;
  color: #808080;
  left: 5%;
  font-size: 25px;
  text-align: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  display: inline-block;
}
.confirm-button:active {
  width: 150px;
  background: #e5e1e1;
  border-radius: 8px;
  box-shadow: inset 5px 5px 10px #d3cfcf,
              inset -5px -5px 10px #f7f3f3;
  border: none;
}

.confirm-button:hover {
  border: none;
}

.grid_view {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;

}

.grid_view .integration-package-list {
  border-radius: 8px;
  background: #e5e1e1;
  box-shadow: inset 5px 5px 10px #d3cfcf,
            inset -5px -5px 10px #f7f3f3;
  margin-top: 10px;
  height: 300px;
  width: 691px;
  justify-items: center;
  text-align: center;
  overflow-y: auto;
  overflow-x: auto;
}

.btn-panel {
  position: fixed;
  display: inline-block;
  left: 85%;
  border-radius: 8px;
  background: #e5e1e1;
  box-shadow:  5px 5px 10px #d3cfcf,
             -5px -5px 10px #f7f3f3;
  height: 385px;
  width: 115px;
  padding: 0px;
  top: 95px;
}

.btn-panel ul {
  position: absolute;
  left: -29.5%;
}

.btn-panel ul button {
  margin: 10px;
  height: 70px;
  border-radius: 8px;
  background: #e5e1e1;
  box-shadow:  5px 5px 10px #d3cfcf,
             -5px -5px 10px #f7f3f3;
  border: none;
  color: #808080;
}

.btn-panel ul button:active {
  background: #e5e1e1;
  box-shadow: inset 5px 5px 10px #d3cfcf,
            inset -5px -5px 10px #f7f3f3;
}



.grid_view .integration-package-list h3 {
  color: #e5e1e1;
  text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
}